body.index {
  header.banner {
    $banner-image: "../images/banner-homepage.png";
    background-image: url($banner-image);
  }

  section {
    .grid-row {
      padding: 4em 1em;
    }

    h2 {
      font-size: $base-font-size * 1.6;
      margin-bottom: 1em;
      text-align: center;
    }

    &.bands {
      background-color: $lightest-gray;
    }

    &.tickets {
      $banner-image: "../images/banner-tickets.jpg";
      background: url($banner-image) no-repeat center center;
      background-size: cover;
      text-align: center;

      h2 {
        margin: 0;
      }

      .headline {
        padding-bottom: 2em;
      }

      .buy-now {
        padding: 2em 0;
      }
    }

    &.extra-info {
      text-align: center;
    }

    &.social {
      background: $lightest-gray;
    }
  }

  article {
    margin-bottom: 2em;
  }
}
