footer {
  background: $very-dark-grayish-red;
  color: $white;
  font-family: $navigation-font-family;
  padding: 3em 0;
  text-align: center;

  p {
    font-size: $base-font-size * 1.2;

    &.open-source {
      font-family: $base-font-family;
      font-size: $base-font-size * 0.8;

      a {
        color: #d1b28b;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
