footer {
  background: $very-dark-grayish-red;
  color: $white;
  font-family: $navigation-font-family;
  padding: 3em 0;
  text-align: center;

  p {
    font-size: $base-font-size * 1.2;
    margin-bottom: 2em;

    span {
      display: block;

      @include media($large-up) {
        border-left: 1px solid $white;
        display: inline;
        padding: 0 0.6em;

        &:first-child {
          border-left: 0;
          padding-left: 0;
        }
      }
    }

    &.open-source {
      font-family: $base-font-family;
      font-size: $base-font-size * 0.8;

      span {
        @include media($large-up) {
          border-color: $light-orange;
        }
      }

      a {
        color: $light-orange;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
