.header {
  background: $white;
  height: 90px;
  position: relative;

  .header-wrapper {
    padding-left: 1em;

    @include media($menu-desktop) {
      @include outer-container;
      padding: 0 1em;
      position: relative;
    }
  }

  .logo {
    float: left;
    line-height: 90px;
    max-width: 240px;
    position: relative;
    z-index: 9999;

    img {
      display: inline-block;
      height: auto;
      margin-top: 0;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .main-navigation {
    background-color: $white;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    right: -230px;
    top: 0;
    width: 230px;

    @include media($menu-desktop) {
      height: auto;
      position: relative;
      right: 0;
      width: auto;
    }

    body.menu-open & {
      right: 0;
    }
  }

  .nav-trigger {
    background-color: $orange;
    color: transparent;
    height: 90px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 90px;

    @include media($menu-desktop) {
      display: none;
    }

    &.menu-open {
      position: fixed;
      right: 230px;

      span {
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    span {
      background-color: $white;
      bottom: auto;
      height: 3px;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: background-color 0.3s ease;
      width: 26px;

      &::before,
      &::after {
        background-color: $white;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: 0.3s;
        width: 26px;
      }

      &::before {
        transform: translateY(-9px);
      }

      &::after {
        transform: translateY(9px);
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 2em;
    padding-top: 2em;

    @include media($menu-desktop) {
      padding-left: 0;
      padding-top: 0;
      text-align: right;
    }
  }

  li {
    font-size: $base-font-size * 1.2;
    font-weight: 700;
    list-style: none;
    padding: 0.4em 0;

    @include media($menu-desktop) {
      display: inline-block;
      line-height: 90px;
      padding: 0 1em;

      &:last-child {
        padding-right: 0;
      }
    }

    &:first-child {
      padding-top: 0;
    }
  }

  a {
    color: $medium-gray;
    font-family: $navigation-font-family;
    text-decoration: none;
    text-transform: uppercase;

    &.nav-item {
      &.active,
      &:active,
      &:hover, {
        color: $orange;
      }
    }
  }
}
