.header {
  background: $white;
  height: 90px;
  text-align: right;

  .logo {
    float: left;
    line-height: 90px;

    img {
      display: inline-block;
      height: 40px;
      margin-top: 0;
      vertical-align: middle;
      width: 338px;
    }
  }

  .nav-trigger {
    background-color: $orange;
    color: transparent;
    height: 90px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 90px;

    @include media($menu-desktop) {
      display: none;
    }

    span {
      background-color: $white;
      bottom: auto;
      height: 3px;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: background-color 0.3s ease;
      width: 26px;

      &::before,
      &::after {
        background-color: $white;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: 0.3s;
        width: 26px;
      }

      &::before {
        transform: translateY(-9px);
      }

      &::after {
        transform: translateY(9px);
      }
    }
  }

  .main-nav {
    display: none;

    @include media($menu-desktop) {
      display: inline-block;
    }

    ul {
      align-items: center;
      display: flex;
      height: 90px;
    }

    li {
      display: inline-block;
    }

    .nav-item {
      color: $medium-gray;
      display: block;
      padding-left: 16px;
      padding-right: 16px;
      text-decoration: none;
      text-transform: uppercase;

      &.active,
      &:active,
      &:hover, {
        color: $orange;
      }
    }
  }

  .button {
    text-transform: uppercase;
  }
}
