body.index {

  h2 {
    font-family: $heading-font-family;
    font-size: $base-font-size * 4;
  }

  .hero {
    background-attachment: scroll;
    background-color: $blue;
    background-image: url("../images/hero-home.png");
    background-position: center;
    text-align: center;

    img {
      display: block;
      margin: 0 auto 2em;
    }

    h1 {
      margin-bottom: 0.2em;
    }

    h2 {
      color: $orange;
      font-family: $navigation-font-family;
      font-size: $base-font-size * 1.4;
      margin-bottom: 1.5em;

      span {
        border-left: 2px solid $orange;
        padding: 0 10px;

        &:first-child {
          border-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  .counter {
    background: $orange;
    padding-bottom: 4em;
    padding-top: 4em;

    h2 {
      color: $white;
      text-align: center;
    }

    .counter-wrapper {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
    }

    .counter-block {
      background: transparent;
      color: $white;
      margin-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
      text-transform: uppercase;
      width: 50%;

      @include media($medium-up) {
        width: 25%;
      }

      @include media($large-up) {
        width: 25%;
      }

      .counter-item {
        background: rgba($black, 0.8);
        border-radius: $base-border-radius;
        padding-bottom: 1em;
        padding-top: 1em;
      }

      span {
        display: block;
        font-family: $heading-font-family;
        font-size: $base-font-size * 2;
        padding: 0;
      }

      .day {
        font-size: $base-font-size * 4;
        font-weight: 900;
      }
    }
  }

  .featured-line-up {
    text-align: center;

    h2 {
      color: $very-dark-grayish-red;
      margin-bottom: 0;
      text-align: center;
    }

    p {
      margin-bottom: 2em;
    }

    .line-up-wrapper {
      @include flex-justify;
      flex-wrap: wrap;
    }

    .line-up-block {
      color: $base-font-color;
      display: inline-block;
      margin-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
      width: 50%;

      @include media($medium-up) {
        width: calc(100% * (1/4) - 10px - 1px);
      }
    }
  }
}
