body.index {
  .hero {
    padding: 0;

    .hero-inner {
      $hero-image: "../images/hero-home.png";
      background-image: url($hero-image);
      height: 970px;
    }
  }

  .counter {
    background: $orange;
    padding-bottom: 4em;
    padding-top: 4em;

    h2 {
      color: $white;
      text-align: center;
    }

    .counter-wrapper {
      @include flex-justify;
    }

    .counter-block {
      background: rgba($black, 0.8);
      border-radius: $base-border-radius;
      color: $white;
      margin-left: 1em;
      margin-right: 1em;
      min-width: 200px;
      padding: 2em;
      text-align: center;
      text-transform: uppercase;

      span {
        display: block;
      }

      .day {
        font-size: $base-font-size * 3;
        font-weight: 900;
      }
    }
  }

  .featured-line-up {
    text-align: center;

    .line-up-wrapper {
      @include flex-justify;
      margin-bottom: 2em;
    }

    .line-up-block {
      margin-left: 1em;
      margin-right: 1em;
      width: 200px;
    }

    h2 {
      color: $deep-purple;
      text-align: center;
    }

    h3 {
      color: $dark-gray;
      margin-bottom: 2em;
      text-align: center;
    }
  }
}
