body.line-up {
  .hero {
    background-attachment: scroll;
    background-color: $blue;
    background-image: url("../images/hero-home.png");
    background-position: center;
    margin-bottom: 2em;
  }

  .line-up-nav {
    background: $white;
    padding: 0;

    ul {
      @include flex-justify();
    }

    li {
      margin: 0;

      a {
        display: block;
        font-family: $navigation-font-family;
        font-size: $base-font-size * 1.4;
        padding: 1em;
        text-decoration: none;

        &.active,
        &:active,
        &:focus,
        &:hover {
          background: $orange;
          border: 0;
          color: $white;
        }
      }
    }
  }

  .line-up-wrapper {
    @include flex-justify;
    flex-wrap: wrap;

    .line-up-item {
      color: $base-font-color;
      display: inline-block;
      margin-bottom: 2em;
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
      width: 50%;

      @include media($medium-up) {
        width: calc(100% * (1/4) - 10px - 1px);
      }
    }
  }
}
