<div class="social-links">
  <a href="https://untappd.com/v/just-in-beer/5974495/event/333955" class="icon-untappd" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.facebook.com/events/398073400950593/" class="icon-facebook" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.instagram.com/hop_craftbeer_festival/" class="icon-instagram" target="_blank" rel="noopener noreferrer"></a>
</div>
