.hero {
  background-attachment: scroll;
  background-color: $light-blue;
  background-image: url("../images/hero-home.png");
  background-position: center;
  background-size: cover;
  padding: 3em 0;
  position: relative;

  h1 {
    background: $orange;
    color: $white;
    display: table;
    margin: 0 auto;
    padding: 0 0.4em;
    text-align: center;
    transform: rotate(-2deg);
    width: auto;

    span {
      display: block;
      transform: rotate(2deg);
    }
  }
}
