section.playlist {
  background: lighten($light-gray, 5);

  h2 {
    font-family: $heading-font-family;
    font-size: $base-font-size * 4;
    text-align: center;
  }

  .spotify-embeds {
    padding: 0 1em;
    width: 100%;
  }

  .spotify-embed {
    background: #282828;

    iframe {
      display: block;
      transition: opacity 0.125s;

      .js & {
        opacity: 0;

        &.loaded {
          opacity: 1;
        }
      }
    }
  }
}
