section.social-share {
  background: $light-gray;
  text-align: center;

  h3 {
    display: block;
    font-family: $heading-font-family;
    font-size: $base-font-size * 3;
  }

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    font-size: $base-font-size * 1.6;
    margin-left: 0.25em;
    margin-right: 0.25em;

    @include media($menu-desktop) {
      font-size: $base-font-size * 1.6;
    }

    &.whatsapp {
      @include media($menu-desktop) {
        display: none;
      }
    }
  }
}
