html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: $white;
  margin: 0;

  overflow-x: hidden;
  position: relative;
  right: 0;
  transition: right 300ms ease-in-out;

  @include media($menu-desktop) {
    transition: none;
  }

  &.menu-open {
    right: 230px;
  }
}

section {
  padding: 3em 0;

  @include media($medium-up) {
    padding: 4em 0;
  }
}

.row {
  @include outer-container;
  padding: 0 1em;
  position: relative;
}

article {
  margin: 0 auto;
  max-width: 640px;
}
