.flex-wrapper {
  text-align: center;

  @include grid-media($for-desktop-up) {
    text-align: left;
  }

  .flex-item {
    padding: 2em 1em;

    @include grid-media($for-desktop-up) {
      display: flex;
    }
  }

  .item-image {
    border: 1px solid $bordeaux;
    border-radius: 50%;
    height: 280px;
    margin: 0 auto 1em;
    overflow: hidden;
    width: 280px;

    @include grid-media($for-desktop-up) {
      flex: 0 0 120px;
      height: 120px;
      margin-right: 1em;
      width: 120px;
    }

    &.border-light-gray {
      border-color: $lighter-gray;
    }

    &.border-white {
      border-color: $white;
    }

    img {
      width: 100%;
    }
  }
}
