---
title: 404 - Pagina niet gevonden
robots: noindex,nofollow
directory_index: false
---
<section class="gray">
  <div class="row">
    <%= image_tag "404-whale.png", alt: "Page not found", title: "Page not found" %>
    <h1>
      Looking for whales?
    </h1>
    <p>
      Sorry, whale not found. Try something else.
    </p>
  </div>
</section>
