<footer>
  <div class="row">
    <div class="footer-logos">
      <h4>
          Powered by:
      </h4>
      <p>
        <a href="https://www.facebook.com/Just.in.Beer.Groningen/" target="_blank">
          <%= image_tag "logo-just-in-beer.png", title: "Just in Beer", alt: "Just in Beer" %>
        </a>
      </p>
      <div class="footer-logo">
        <a href="https://www.bierenco.nl" target="_blank">
          <%= image_tag "logo-bierenco.png", title: "Bier & Co", alt: "Bier & Co" %>
        </a>
      </div>
      <div class="footer-logo">
        <a href="http://em2groningen.nl/" target="_blank">
          <%= image_tag "logo-em2.png", title: "EM2 Groningen", alt: "EM2 Groningen" %>
        </a>
      </div>
    </div>
  </div>
  <p>
    <span>
      Copyright © 2018 Just in Beer & Hop! into the Grain Festival
    </span>
    <span>
      Alle rechten voorbehouden.
    </span>
  </p>
  <p class="open-source">
    <span>
      <%= nav_link "Huisregels", "/huisregels/" %>
    </span>
    <span>
      <a href="https://github.com/RonaldDijkstra/hop-into-the-grain/" target="_blank">Open Source</a>
    </span>
  </p>
</footer>
