<footer>
  <div class="row">
    <p>
      <span>
        Copyright © 2018 Just in Beer & Hop! into the Grain Festival
      </span>
      <span>
        Alle rechten voorbehouden.
      </span>
    </p>
    <p>
      <%= image_tag "logo-just-in-beer.png", title: "Just in Beer", alt: "Just in Beer" %>
    </p>
  </div>
  <p class="open-source">
    <a href="https://github.com/RonaldDijkstra/hop-into-the-grain/" target="_blank">Open Source</a>
  </p>
</footer>
