<section class="header row">

  <div class="logo">
    <h1>Hop into the Grain!</h1>
  </div>

  <h2>Craft Beer & Music Festival</h2>

  <div class="main-nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Tickets</a>
      </li>
      <li>
        <a href="#">Beer</a>
      </li>
      <li>
        <a href="#">Music</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>

</section>
