<header class="header" data-header="fixed">
  <div class="header-wrapper">

    <div class="logo">
      <% link_to("/", title: "Home") do %>
        <%= image_tag "logo-hop-into-the-grain.png", title: "Hop! into the Grain Craft Beer & Music Festival 2018", alt: "Hop! into the Grain Craft Beer & Music Festival 2018" %>
      <% end %>
    </div>

    <a href="#" class="nav-trigger" title: "Open Navigation">
      <span aria-hidden="true"></span>
    </a>

    <nav class="main-navigation">
      <ul>
        <li>
          <%= nav_link "Home", "/", class: "nav-item", title: "Home" %>
        </li>
        <li>
          <%= nav_link "Info", "/info/", class: "nav-item", title: "Informatie" %>
        </li>
        <li>
          <%= nav_link "Contact", "/contact/", class: "nav-item", title: "Contact" %>
        </li>
      </ul>
    </nav>

  </div>
</header>
