<header class="header" data-header="fixed">
  <div class="row">
    <div class="header-wrapper">

      <div class="logo">
        <% link_to("/") do %>
          <%= image_tag "logo-hop-into-the-grain.png", title: "Hop! into the Grain", alt: "Hop! into the Grain" %>
        <% end %>
      </div>

      <a href="#" class="nav-trigger">
        <span aria-hidden="true"></span>
      </a>

      <nav class="main-nav">
        <ul>
          <li>
            <a class="nav-item" href="/line-up/">Line-up</a>
          </li>
          <li>
            <a class="nav-item" href="/info/">Info</a>
          </li>
          <li>
            <a class="nav-item" href="/contact/">Contact</a>
          </li>
          <li>
            <a class="button orange" href="#">Tickets &raquo;</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>
