<!-- AIzaSyDomyV2iFDDiyyW1QCmQBWcaGrgycgQAf0 -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDomyV2iFDDiyyW1QCmQBWcaGrgycgQAf0&callback=initMap"
  type="text/javascript"></script>
<div class="map" id="map">
  <div class="map-canvas" id="map-canvas"></div>
</div>
