<section class="playlist">
  <div class="row">

    <h2>
      Hop! into the Grain Playlist
    </h2>

    <div class="spotify-embeds">

      <div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify:user:ronalddijkstra:playlist:428xlcl5mvrpeBN6HmEW9y" width="340" height="<%= height %>" frameborder="0" allowtransparency="true"></iframe></div>
    </div>

  </div>
</section>
