<section class="social-share">
  <div class="row">
    <h3>
      Deel Hop! into the Grain Festival 2018
    </h3>
    <ul>
      <li>
        <a href="http://www.facebook.com/sharer.php?u=https://www.hoptintothegrainfestival.nl<%= current_page.url %>"
           target="_blank"
           rel="nofollow"
           title="Deel via Facebook"
           class="icon-facebook"
           data-popup='{"width":580,"height":296}'>
          <span>Deel via Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text=https://www.hopintothegrainfestival.nl<%= current_page.url %>"
           target="_blank"
           rel="nofollow"
           title="Deel via Twitter"
           class="icon-twitter"
           data-popup='{"width":550,"height":235}'>
          <span>Deel via Twitter</span>
        </a>
      </li>
      <li class="whatsapp">
        <a href="whatsapp://send?text=https://www.hopintothegrainfestival.nl<%= current_page.url %>"
           target="_blank"
           rel="nofollow"
           title="Deel via Whatsapp"
           class="icon-whatsapp">
          <span>Deel via Whatsapp</span>
        </a>
      </li>
      <li>
        <a href="mailto:?subject=Ga je mee naar Hop! into the Grain Festival 2018?&amp;body=Check deze website: https://www.hopintothegrainfestival.nl<%= current_page.url %>"
           target="_blank"
           rel="nofollow"
           title="Deel via e-mail"
           class="icon-envelope">
          <span>Deel via e-mail</span>
        </a>
      </li>
    </ul>
  </div>
</section>
