<section class="ticket">
  <div class="row">
    <a class="button big orange" href="	https://frontoffice.paylogic.nl/?event_id=122408&point_of_sale_id=17537" target="_blank">Buy tickets &raquo;</a>
  </div>
</section>
