---
title: Contact
---

<section class="hero">
  <div class="row">
    <h1>Contact</h1>
  </div>
</section>

<section class="contact-form">
  <div class="row">
    <article>
      <h2>Neem contact op...</h2>

      <form class="form-contact" accept-charset="UTF-8" action="post-url" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="Contact">
        <div class="form-name">
          <input type="text" name="name" placeholder="Naam">
        </div>
        <div class="form-email">
          <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-text">
          <textarea rows="6" name="message" placeholder="Je bericht"></textarea>
        </div>
        <div class="form-actions">
          <button type="submit">Verzenden</button>
        </div>
      </form>
    </article>
  </div>
</section>
