---
title: Huisregels
description: Huisregels van Hop! into the Grain en EM2 "The Barn"
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Huisregels
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <p>
        // Je betreedt het pand op eigen risico. De organisatie kan niet worden aangesproken op schade, verlies of diefstal van eigendommen, dit is inclusief eigen lichaam.
      </p>
      <p>
        // Alleen toegang tot de ‘openbare ruimtes’. Afgesloten ruimtes zijn verboden toegang.
      </p>
      <p>
        // Instructies door personeel / beveiliging dienen altijd meteen opgevolgd te worden.
      </p>
      <p>
        // Personeel en andere bezoekers dienen te worden gerespecteerd, ook in hun privacy. Dus geen foto’s en filmpjes van mensen die dat niet willen of deze ongevraagd delen op (social) media kanalen.
      </p>
      <p>
        // Geen eigen consumpties mee naar binnen of op het terras nuttigen.
      </p>
      <p>
        // Slopen = Kopen. Bij diefstal of ander buitensporig gedrag wordt altijd de politie ingeschakeld.
      </p>
      <p>
        // Kunst dient met respect te worden behandeld: Afblijven dus.
      </p>
      <p>
        // Voor de veiligheid van bezoekers en personeel hangen er bewakingscamera’s. Beelden worden alleen bekeken als er sprake is van een voorval.
      </p>
      <p>
        // Flyeren of posters en stickers ophangen zonder toestemming is niet toegestaan.
      </p>
      <p>
        // In situaties waar de huisregels niet in voorzien, beslist de organisatie cq. de beveiliging over de te nemen maatregelen.
      </p>
      <p>
        // Love, Peace & Happiness!
      </p>
      <p>
        Bij overtreding heeft EM2 & Organisatie het recht om je de toegang te ontzeggen, ook in de toekomst.
      </p>
    </article>
  </div>
</section>

<%= partial "ticket" %>
