---
title: Hop into the Grain! - Craft Beer & Music Festival - MAY 26th, 2018 - Groningen
description: Hop into the Grain! op het Craft Beer & Music Festival
---

<!-- <section class="hero">
  <div class="hero-inner">
    &nbsp;
  </div>
</section> -->

<section class="counter">
  <div class="row">

    <h2>Countdown</h2>

    <div class="counter-wrapper" id="timer">



    </div>

  </div>
</section>

<section class="featured-line-up">
  <div class="row">

    <h2>
      Line-up
    </h2>

    <p>
      Sample a wide variety of craft beer, all while enjoying listening to live music.
    </p>

    <div class="line-up-wrapper">
      <div class="line-up-block" href="#">
        <%= image_tag("line-up/het-uiltje.png") %>
      </div>
      <div class="line-up-block" href="#">
        <%= image_tag("line-up/de-moersleutel.png") %>
      </div>
      <div class="line-up-block" href="#">
        <%= image_tag("line-up/jopen.png") %>
      </div>
      <div class="line-up-block" href="#">
        <%= image_tag("line-up/frontaal.png") %>
      </div>
    </div>

    <a href="/line-up/" class="button big orange">View full line-up</a>

  </div>
</section>
