---
title: Hop into the Grain! - Craft Beer & Music Festival - MAY 26th, 2018 - Groningen
description: Hop into the Grain! op het Craft Beer & Music Festival
---

<!-- <section class="hero">
  <div class="hero-inner">
    &nbsp;
  </div>
</section> -->

<section class="counter">
  <div class="row">

    <h2>Countdown</h2>

    <div class="counter-wrapper">

      <div class="counter-block">
        <span class="day">66</span>
        <span class="unit">Days</span>
      </div>
      <div class="counter-block">
        <span class="day">13</span>
        <span class="unit">Hours</span>
      </div>
      <div class="counter-block">
        <span class="day">30</span>
        <span class="unit">Minutes</span>
      </div>
      <div class="counter-block">
        <span class="day">59</span>
        <span class="unit">Seconds</span>
      </div>
    </div>

  </div>
</section>

<section class="featured-line-up">
  <div class="row">

    <h2>Line-up</h2>

    <h3>Sample a wide variety of craft beer, all while enjoying listening to live music.</h3>

    <div class="line-up-wrapper">
      <a class="line-up-block" href="#">
        <%= image_tag("line-up/het-uiltje.png") %>
      </a>
      <a class="line-up-block" href="#">
        <%= image_tag("line-up/de-moersleutel.png") %>
      </a>
      <a class="line-up-block" href="#">
        <%= image_tag("line-up/jopen.png") %>
      </a>
      <a class="line-up-block" href="#">
        <%= image_tag("line-up/frontaal.png") %>
      </a>
    </div>

    <a href="/line-up/" class="button orange">View full line-up</a>

  </div>
</section>
