---
title: Welkom bij het Hop! into the Grain Craft Beer & Music Festival 2019
description: "Het nieuwste bierfestival van Groningen: Hop! into the Grain Craft Beer & Music Festival."
---

<section class="hero">
  <div class="row">
    <%= image_tag("logo-hop-into-the-grain-big.png") %>
    <h2>
      <span>Het festival was een groot succes, we zien je daarom graag terug op zaterdag 25 mei 2019.</span>
    </h2>
  </div>
</section>

<section class="counter">
  <div class="row">

    <h2>Aftellen...</h2>

    <p>
      Hoe lang nog tot Hop! into the Grain Festival 2019 begint?
    </p>

    <div class="counter-wrapper" id="timer">

    </div>

  </div>
</section>

<%= partial "maps" %>
