---
title: Hop into the Grain! - Craft Beer & Music Festival 2018 - Groningen
---

<section class="hero row">

  <a class="button">Buy tickets &raquo;</a>

</section>

<section class="beers row">
  <div class="col">
    Some breweries
  </div>

  <a class="button">Beer list</a>

</section>

<section class="beers row">
  <div class="col">
    Some bands
  </div>

  <a class="button">Bands list</a>

</section>

<section class="tickets row">
  <div class="col">
    Tickets
  </div>

  EMBED

</section>
