---
title: Folkingebrew
---

<section class="hero row">

  <h1>
    WE ONLY BREW BEER
      <br>
    WE WANT TO DRINK.
  </h1>

  <h3>
    And we like powerful, flavorful crazy shit.
  </h3>

  <a class="button">Discover our beers</a>

</section>
