---
title: Hop into the Grain! - Craft Beer & Music Festival - MAY 26th, 2018 - Groningen
description: Hop into the Grain! op het Craft Beer & Music Festival
---

<section class="hero">
  <div class="hero-inner">
    HERO
  </div>
</section>

<!-- <section class="countdown">
  <div class="row">
    Countdown
  </div>
</section>

<section class="homepage-hero">
  <div class="row">
    Time + date
  </div>
</section> -->
