---
title: Informatie
description: Waar is het festival? Hoe laat begint het?
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Informatie
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <p>
        Welkom op de website van Hop! Into the Grain! Dat je hier bent komen kijken betekend dat je geïnteresseerd bent in dit geweldige lentefestival. Dat is natuurlijk volkomen terecht. Naast dat er <a href="/line-up/">diverse goede Nederlandse brouwerijen</a> (en een ciderman) zullen staan hebben we ook <a href="/line-up/">een muziekprogramma</a> met diverse talentvolle acts van uiteenlopende genres. Natuurlijk kan dit alles niet zonder wat good food, dus hebben we ook wat foodtrucks uitgenodigd.
      </p>
      <p>
        We zullen nog veel doen aan de verdere inrichting van vermaak en masterclasses/proeverijen aankondigen, waarvan apart tickets kunnen worden besteld. We starten al vroeg in de middag om 12:00 uur en sluiten pas af om 01:30 uur in de nacht! Een hele dag plezier voor €14,95, inclusief festivalglas.
      </p>
    </article>
  </div>
</section>

<%= partial "ticket" %>
