---
title: Informatie
description: Waar is het festival? Hoe laat begint het?
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Informatie
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <p>
        <strong>Welkom op de website van Hop! into the Grain Craft Beer & Music Festival!</strong>
      </p>
      <p>
        Dat je hier bent komen kijken betekend dat je geïnteresseerd bent in dit geweldige lentefestival. Dat is natuurlijk volkomen terecht! 🙂 Naast dat er <a href="/line-up/">diverse goede Nederlandse brouwerijen</a> (en een ciderman!) zullen staan hebben we ook <a href="/line-up/">een muziekprogramma</a> met diverse talentvolle acts van uiteenlopende genres. Natuurlijk kan dit alles niet zonder wat good food, dus hebben we ook wat foodtrucks uitgenodigd.
      </p>
      <p>
        Het festival vindt plaats bij EM2 "the Barn" (Energieweg 10) in Groningen. We starten 26 mei al vroeg in de middag om 12:00 uur en sluiten pas af om 01:30 uur in de nacht! Een hele dag plezier voor €14,95, inclusief 20 cl festivalglas. Een muntje kost €2,50.
      </p>
      <p>
        We zullen nog veel doen aan de verdere inrichting van vermaak en masterclasses/proeverijen aankondigen, waarvan apart tickets kunnen worden besteld. <a href="https://www.facebook.com/events/191110228287711/" target="_blank">Volg ons op Facebook</a> voor updates en <a href="https://frontoffice.paylogic.nl/?event_id=122408&point_of_sale_id=17537" target="_blank">koop hier</a> direct je kaarten.
      </p>
      <p>
        Lees <a href="/huisregels/">hier</a> de huisregels die van toepassing zijn op het festival.
      </p>
    </article>
  </div>
</section>

<%= partial "ticket" %>
