---
title: Informatie
description: Waar is Hop! into the Grain Craft Beer & Music Festival? Waar kan ik tickets kopen?
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Informatie
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <h2>
        Welkom op Hop! into the Grain Craft Beer & Music Festival!
      </h2>
      <p>
        Het festival was een groot succes. Op 25 mei 2019 organiseren we daarom de volgende editie, noteer het vast in je agenda! Tot die tijd kun je voor al je bierwensen terecht bij <a href="https://www.justinbeer.nl">Just in Beer</a>, Folkingestraat 18 te Groningen</p>
      </p>
      <p>
        <strong>Stay tuned!</strong>
      </p>
    </article>
  </div>
</section>
