---
title: Timetable
description: Check de timetable van Hop! into the Grain Festival
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Timetable
      </span>
    </h1>
  </div>
</section>

<section class="timetable">
  <div class="row">
    <div class="timetable-wrapper">

      <div class="timetable-item">
        <div class="time">
          <span>14:00</span>
          <span>14:45</span>
        </div>
        <div class="band">
          The Lay
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>15:15</span>
          <span>16:00</span>
        </div>
        <div class="band">
          Rum & Skunk
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>16:30</span>
          <span>17:15</span>
        </div>
        <div class="band">
          Ginger Likes
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>17:45</span>
          <span>18:30</span>
        </div>
        <div class="band">
          Magnetic Spacemen
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>19:45</span>
          <span>20:45</span>
        </div>
        <div class="band">
          Meadowlake
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>21:30</span>
          <span>22:30</span>
        </div>
        <div class="band">
          Rammerrick
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>23:00</span>
          <span>0:00</span>
        </div>
        <div class="band">
          Model Depose
        </div>
      </div>

      <div class="timetable-item">
        <div class="time">
          <span>0:00</span>
          <span>1:30</span>
        </div>
        <div class="band">
          DJ Ray Koocks
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "playlist", locals: { height: "360" } %>

<%= partial "ticket" %>
